{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}登录{% endblock title %}

{% block link %}
    <style>
        body {
            padding: 0 !important;
            background-image: url("{% static 'img/bg.jpg' %}");
            background-size: cover;
        }

        .form-layout {
            display: flex;
            width: 100vw;
            height: 100vh;
            align-items: center;
            justify-content: center;
        }
    </style>
{% endblock link %}

{% block header %}{% endblock header %}

{% block content %}
    <div class="am-g form-layout">
        <div class="am-u-md-4 am-u-md-centered ">
            <form class="am-form am-padding" action="{% url 'login' %}" method="post" id="form_login"  style="background: #fff; box-shadow: 0 0 10px #000;">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <fieldset>
                    <legend>欢迎登录<a class="am-align-right" href="{% url 'index' %}">返回首页</a></legend>
                    <div class="am-form-group">
                        <label for="username">用户名</label>
                        <input type="text" name="username" placeholder="输入用户名">
                    </div>
                    <div class="am-form-group">
                        <label for="password">密码</label>
                        <input type="password" name="password" placeholder="输入密码">
                    </div>
                    <div class="am-checkbox">
                        <label>
                            <input type="checkbox" name="remember" checked> 记住我
                        </label>
                        <label class="am-align-right">
                            没有账号? <a href="{% url 'register' %}">注册</a>
                        </label>
                    </div>
                    <p>
                        <button type="submit" class="am-btn am-btn-block am-btn-success">登录</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block script %}
{#    <script>#}
{#        // 使用Jquery执行异步请求操作#}
{#        $(function () {#}
            {# 绑定表单的提交事件，在该事件中执行异步请求，并阻止表单默认的提交事件操作 #}
{#            $('#form_login').submit(function () {#}
{#                $.ajax({#}
{#                    url: "{% url 'login' %}",#}
{#                    type: "post",#}
{#                    data: $("#form_login").serialize(),#}
{#                    success: function (data) {#}
{#                        if(data == '登录成功') {#}
{#                            location.href = 'http://localhost:8000/'#}
{#                        } else {#}
{#                            alert(data)#}
{#                        }#}
{#                    }#}
{#                })#}
{#                return false // 阻止表单自己执行默认提交操作#}
{#            })#}
{#        })#}
{#    </script>#}
{% endblock script %}